nav {
  position:relative;
  display:inline-block;
  font-size:14px;
  font-weight:900;
}

body {
  background-color: #F3F3F2;
  font-family: 'Open Sans', sans-serif;
}

hr {
  margin-top: 50px;
  margin-bottom: 50px;
}

.description {
  text-align: center;
  padding: 20px;
  margin: auto;
  width: 80%;
  border-radius: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: rgb(60, 149, 225);
}

.logo {
  position: fixed;
  top: 0px;
  right: 0px;
}

nav img {
  height: 44px;
}

nav button {
  height: 44px;
}

.nav-item, .logo{
  float:left;
  display:inline;
}

.nav-item a {
  display:block;
  padding:15px 20px;
  color: white;
  background: rgb(60, 149, 225);
}

.nav-item a:hover {
  background:#2C3E50;
}

.nav-mobile {
  display:none;
  position:absolute;
  top:0;
  right:0;
  background:#34495E url(../img/nav.svg) no-repeat center center;
  height:40px;
  width:40px;
  border-radius:5px;
}

.showbutton {
  display:none;
}

@media only screen and (max-width: 768px) {

  .showbutton {
    display:block;
    width: 115px;
  }
  .signout-button {
    width: 115px;
  }

  .nav {
    width:100%;
  }

  .nav a {
    width: 100%;
  }

  .nav-item {
    display: none;
    width:100%;
    float:none;
  }
  .nav-mobile {
    display:block;
  }
}
  .nav-list {
    display: none;
  }
